global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    monitor: 'cloudmind'

rule_files:
  - "alert_rules.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'backend'
    metrics_path: '/metrics'
    scrape_interval: 10s
    static_configs:
      - targets: ['cloudmind-backend:8000']

  - job_name: 'loki'
    metrics_path: '/metrics'
    static_configs:
      - targets: ['loki:3100']

  - job_name: 'tempo'
    metrics_path: '/metrics'
    static_configs:
      - targets: ['tempo:3200']


