server:
  http_listen_port: 3200

distributor:
  receivers:
    otlp:
      protocols:
        http:
          endpoint: 0.0.0.0:4318

storage:
  trace:
    backend: local
    local:
      path: /tmp/tempo

compactor:
  compaction:
    block_retention: 24h

querier:
  frontend_worker:
    frontend_address: 127.0.0.1:9095


